//
//App Bar
//
.app-bar {
    margin: 30px 200px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #001529;
    height: 70px;
}

.app-bar img {
    height: 40px;
    margin: 20px 40px;
}

.app-bar-menu {
    width: 300px;
    margin-right: 20px !important;
    background-color: #001529 !important;
    .app-bar-menu-item {
        color: white !important;
        font-size: 16px;
        &:hover {
            color: #1890ff !important;
        }
        &:active {
            color: #1890ff !important;
        }
    }
}

.ant-menu-horizontal > .ant-menu-item-selected a {
    color:#1890ff !important;
}

.ant-menu-horizontal {
    border-bottom: unset !important;
}